//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Fri 10 14 09:13:49 2022

IO_LOC "BLUE[4]" 41;
IO_PORT "BLUE[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "BLUE[3]" 42;
IO_PORT "BLUE[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "BLUE[2]" 51;
IO_PORT "BLUE[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "BLUE[1]" 53;
IO_PORT "BLUE[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "BLUE[0]" 54;
IO_PORT "BLUE[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[5]" 55;
IO_PORT "GREEN[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[4]" 56;
IO_PORT "GREEN[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[3]" 57;
IO_PORT "GREEN[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[2]" 68;
IO_PORT "GREEN[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[1]" 69;
IO_PORT "GREEN[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "GREEN[0]" 70;
IO_PORT "GREEN[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "RED[4]" 71;
IO_PORT "RED[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "RED[3]" 72;
IO_PORT "RED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "RED[2]" 73;
IO_PORT "RED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "RED[1]" 74;
IO_PORT "RED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "RED[0]" 75;
IO_PORT "RED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "DATA_EN" 33;
IO_PORT "DATA_EN" PULL_MODE=UP DRIVE=8;
IO_LOC "VSYNC" 34;
IO_PORT "VSYNC" PULL_MODE=UP DRIVE=8;
IO_LOC "HSYNC" 40;
IO_PORT "HSYNC" PULL_MODE=UP DRIVE=8;
IO_LOC "P_CLK" 35;
IO_PORT "P_CLK" PULL_MODE=UP DRIVE=8;
IO_LOC "b5" 3;
IO_PORT "b5" PULL_MODE=UP;
IO_LOC "b4" 82;
IO_PORT "b4" PULL_MODE=UP;
IO_LOC "b3" 81;
IO_PORT "b3" PULL_MODE=UP;
IO_LOC "b2" 80;
IO_PORT "b2" PULL_MODE=UP;
IO_LOC "b1" 79;
IO_PORT "b1" PULL_MODE=UP;
IO_LOC "NRST" 4;
IO_PORT "NRST" PULL_MODE=UP;
IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=UP;
